.stepContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    text-align: left;
    height: 120px;
}

.stepNumberContainer{
    margin-right: 15px;
    width: 20px;;
}
.stepNumberContainer hr{
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
