.recipeDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
}


.commentsContainer {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.newComment {
    width: 50vw;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

textarea {
    color: black;
    font-weight: 70;
}

.commentsList {
    overflow: scroll;
    height: 200px;
    margin: 15px;
}

.recipeDetailsButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.commentTextBox{
    height: 70px;
    margin: 10px;

    border-radius: 8px;
}
.commentButton {
    height: 50px;
    text-align: center;
    width: 100px;
    border-radius: 50px;
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: white;

}
.commentButton:hover{
    color: black;
    background: white;
}
