.formButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.addIngredientButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    z-index: 1040;
    margin: 10px auto;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}