.formButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.formButtonContainerRecipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}


.addIngredientButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    z-index: 1040;
    margin: 10px auto;
}

.accordion{
    background: none;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.cancelContainer{
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancelContainer button {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    font-weight: 20;
    width: 100px;
    height: 50px;
    outline-color: black;
    border-radius: none;
}
.addRecipeForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    background: rgba(93,115,126,1);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4);
}
.addRecipeFormTextbox {
    width: 75%;
    border: none;
    border-bottom: 1px solid #FFC15E;
    background: none;
    text-align: center;
    padding: 0px;
}
.addRecipeFormTextbox:focus{
    outline: none;
}
.addRecipeFormTextbox::-webkit-input-placeholder{
    color: white;
    opacity: 0.7;
}
.addRecipeFormLabelContainer {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.formButtonContainer button {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    width: 33.33%;
    font-weight: 20;
    height: 50px;
    outline-color: black;
    border-radius: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
}
.formButtonContainerRecipe button {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    width: 33.33%;
    font-weight: 20;
    height: 50px;
    outline-color: black;
    border-radius: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
}


.ingredientsForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}
.ingredientsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.ingredientInputContainer {
    display: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: rgba(93,115,126,1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4);
    margin: 5px;
    
}
.ingredientFormInput{
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFC15E;
    background: none;
    text-align: center;
    padding: 0px;
    height: 35px;
}

.ingredientFormInput::-webkit-input-placeholder{
    color: white;
    opacity: 0.7
}
.ingredientFormLabelContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}
.stepsContainer {
    display: flex;
    flex-direction: column;

}
.stepsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 866px) {
    .addRecipeForm {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px auto;
        padding: 3px auto;
    }
    .addRecipeFormLabelContainer{
        width: 100%;
    justify-content: center;
    padding-top: 5px;

    }
    .addRecipeFormTextbox {
        width: 100%;
        margin-top: 5px;
    }
    .col-4{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
    .ingredientsForm {
        display: block;
        padding: 3px auto;
    }
    .formButtonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formButtonContainer button{
        margin: 5px;
        width: 100%;
    }

    .formButtonContainerRecipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formButtonContainerRecipe button{
        margin: 5px;
        width: 100%;
    }

    .ingredientInputContainer{
        margin: 5px 0px;
    }
    .stepsForm {
        display: block;
        padding: 3px auto;
    }
    .addRecipe{
        z-index: 1029;
    }

}
.collapsibleCard{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(93,115,126,1);
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.8);
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;   
}
.collapsibleCard:hover {
    color: #F06543;
}