.formButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.addIngredientButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    z-index: 1040;
    margin: 10px auto;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.cancelContainer{
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancelContainer button {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    font-weight: 20;
    width: 100px;
    height: 50px;
    outline-color: black;
    border-radius: none;
}