.browseCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    margin: 8px;
    border-radius: 7px;
    width: 275px;
    height: auto;
}

.browseCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.browseCardText{
    display: flex;
    padding: 5px;
    padding-left: 10px;
    overflow-y: scroll;
}

.browseCardImage{
    height: 200px;
    width: 100%;
    border-top-left-radius: 6.2px;
    border-top-right-radius: 6.2px;
}
