.userDashContainer {
    
    margin: 0 auto 0 auto;
    align-items: center;
    width: 100%;
    padding: 5px;
    /* height: auto; */
   
}
.userInfoAndHeader{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page {
    height: 100vh;
    width: 100vw;
    scroll-snap-coordinate: 100% 50%;

}
.editProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashContentContainer {
    display: block;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dashContentChild {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.dashContentChildContainer {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;

}

.list-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pageHeaderContainer {
    width: 100%;
    text-align: left;

}

.fullPageCarousel {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.carousel slide {
    width: 100%
}
.userDashInfoContainer {
    position: relative
}
.userDashButton {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    font-weight: 20;
    width: 160px;
    height: 50px;
    outline-color: black;
    border-radius: none;
    
    margin: 20px;
}
userDashButton a {
    width: 90%;
    margin: 20px;
}
.pageHeaderContainer {
    margin-bottom: 15px;
}
/* .component_Container {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 50% 50%;
    
} */
.profileImageContainer {
    width: 300px;
    height: 400px;
}
.profileImageContainer img {
    height: 100%;
    width: 100%;
}
.profileUsername {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    white-space: pre-wrap;
}
.profileUsername h1 {
    font-size: 100px;
}
@media screen and (max-width: 695px) {
    .profileUsername h1 {
        font-size: 80px;
    }
}

.dashContentContainer {
    padding-top: 30px;
}