* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    z-index: 1;
}
.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-nav {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 50%;
    margin-right: 30px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 100px;
    z-index: 1030;
}
.nav-item {
    box-sizing: border-box;
    list-style: none;
    color: white;
    font-size: 2vh;
}
.nav-link {
    padding: 1.1em 1em;
    text-decoration: none;
    color: white;
}

.nav-link:click {
    transition-delay: .5s;
    transition: 1s;
}

.nav button {
    color: white;
}
.navbar-brand {
    
    color: #fed136;
   
    margin-right: 1rem;
    font-size: 2vh;
    white-space: nowrap;
}

.navbar-toggler {
    height: auto;;
    width: auto;
    right: 0;
    border-radius: .25rem;
    background-color: #fed136;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 13px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    display: none;
}
.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

.navContainer {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.brandContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menuIcon {
    color: #FFC15E;
    
}

.FullNavOverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1050;
    right: 0;
    top: 0;
    background-color: #5D737E;
    background-color: rgba(93,115,126,0.9);
    overflow-x: hidden;
    transition: 1s;
    color: white;
    
}

.FullNavOverlay a {
    text-decoration: none;
    color: white;
    padding: 8px;
    display: block;
    transition: 0.3s
}

.FullNavOverlay .fullNavBrand{
    top: 20px;
    left: 40px;
    font-size: 40px;
    color: #FFC15E;
    margin: 20px;
}

.fullNavBrand a {
    color: #FFC15E;
}
.fullNavBrand a:hover {
    color: #F06543;
}

.FullNavOverlay .closeNav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 45px;
    font-size: 28px;
    padding-left: 2px; 
    width: 40px;
    height: 40px;
    color: #FFC15E
}
.FullNavOverlay .closeNav:hover{
    color: #FFC15E;
    background: #5D737E;
    border-style: solid;
    border-color: black;
    border-width: 2px;
} 

.fullNavItemsListContainer {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
.FullNavOverlay li {
    list-style: none;
    margin: 15px;
    font-size: 30px;
}
.fullNavItem{
    font-size: 35px;
}
.fullNavItem a:hover {
    color: #F06543
}
.fullNavSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    align-content: center;
    margin: 10px auto;
}
.fullNavSearch button {
    background: black;
    border-style: solid;
    border-color: #FFC15E;
    border-width: 3px;
    color: white;
    font-weight: 20;
    width: 100px;
    height: 50px;
    outline-color: black;
    border-radius: none;
}
.fullNavSearch button:hover{
    background: #FFC15E;
    color: black;
    border-color: black;

}

.fullNavSearch input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 15px;
    margin: 15px;
    height: 20px;
}
.fullNavSearch input:focus{
    outline: none;
}
.fullNavSearch input:defaultValue{
    color: grey
}

@media screen and (max-height: 450px) {
    .FullNavOverlay a {font-size: 20px;}
    .overlay .closeNav {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

